body {
    background-image: url(../../images/mode/mode3/index.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.index-image {
    margin: 0 auto;
    width: 960px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.index-title2 {
    font-size: 45px;
    color: #ffffff;
    letter-spacing: 20px;
    margin-top: 20px;
}

.div-subsystem {
    text-align: center;
}

.subsystem--hexagon-large {
    background-image: url(../../images/mode/mode3/hexagon-large.png);
    width: 190px;
    height: 218px;
}

.blueplanet-p {
    color: #0d7bac;
}

.phoenix-p {
    color: #005dac;
}

.proxima-p {
    color: #00561f;
}

.font-30 {
    font-size: 30px;
}

.font-20 {
    font-size: 20px;
}

.subsystem-hexagon-small {
    background-image: url(../../images/mode/mode3/hexagon-small.png);
    height: 112px;
}

.blueplanet-summarize {
    background-image: url(../../images/mode/mode3/hexagon-small.png);
    height: 112px;
}

