body {
    background: darkslateblue;
}
.new-height{
    height: 170px;
}



.background1{
    background:#00a2ff
}

.background2{
    background:#4163bb
}

.background3{
    background:#2c2a2a;
}
.background4{
    background: darkslateblue;
}
